:root {
    --color-azul: #1D3DDE;
	--color-violeta: #9487C2;
	--color-gris-oscuro: #707070;
	--color-gris-claro: #00000029;
	--color-fuxia: #CF3AC0;
	--color-negro: #0D0B0B;
	--color-amarilla: #EBBF10;
    --fuente-principal: Comic Neue;
    --espaciado: 16px;
}


main {
	width: 432px;
    height: 932px;
	background: var(--color-azul) 0% 0% no-repeat padding-box;
    opacity: 1;
	display: flex;
	flex-direction: column;	
	align-content: space-around;
	justify-content: space-around;
}
.Container {
	display: flex;
    align-content: center;
	justify-content: space-around;
	width: 300px;
	height: 180px;
	font-family:var(--fuente-principal);
    		
}

label {
	display: flex;
	justify-content: center;
	
}

#primero {
	margin-top: 40px;
}

.ContTitle {
		
	top: 9px;
    left: 7px;
    width: 415px;
    height: 91px; 
	font-family:var(--fuente-principal);
	background: var(--color-fuxia) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
	margin: 7.5px;
	margin-bottom: 0px;
	text-align: center;
	align-content: center;

}


.ContJuega {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 30px;
	margin-top: 60px;
}

 .buttonAmarillo {top: 806px;
	left: 116px;
	width: 200px;
	height: 87px;
	background: #EBBF10 0% 0% no-repeat padding-box;
	box-shadow: inset 10px 8px 15px #00000029;
	border: 1px solid #8F7AD9;
	border-radius: 25px;
	opacity: 0.8;
	
	font: normal normal bold 30px/42px var(--fuente-principal);
    letter-spacing: 0px;
    color: #0F0E0E;
    opacity: 1;
	
} 

h1 {
    color:brown;
}





.imgArma {
	display: flex;
	align-items: center;
    justify-content: space-between; 
}



.imgArma figure img  {
    height: 100px;
    width: 100px;
}


.choicePC {
top: 10px;
left: 7px;
width: 415px;
height: 816px;
background: #9487C2 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
margin: 7.5px;
}

.ContTitle1 {
	
top: 8px;
left: 8px;
width: 415px;
height: 91px;
background: #CF3AC0 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 6px #00000029;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
margin: 7.5px;
margin-bottom: 0px;
text-align: center;
align-content: center;
		
		
	
    
}


.ArmaEnemImg {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 50px;
}
.ArmaEnemImg img {
    height: 200px;
    width: 200px;
    
	border-radius: 20px;
}
.ArmaEnemImg h1 {
	text-align: center;
}
.choiceWeapon {
	top: 108px;
    left: 7px;
    width: 415px;
    height: 816px;
	background: #9487C2 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
	margin: 7.5px;
    	
         }

.Resultado{
	display: flex;
	align-items: center;
	justify-content: center;
}



.inactive {
    display: none;
}
.Actualizador {
	
	align-items: center;

	top: 806px;
	left: 116px;
	width: 200px;
	height: 87px;
	background: #EBBF10 0% 0% no-repeat padding-box;
	box-shadow: inset 10px 8px 15px #00000029;
	border: 1px solid #8F7AD9;
	border-radius: 25px;
	opacity: 0.8;
	
	font: normal normal bold 30px/42px var(--fuente-principal);
    letter-spacing: 0px;
    color: #0F0E0E;
    opacity: 1;
	margin-left: 106px;
    margin-top: 106px;
	
}